<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <% @cases.each do |c| %>
        <li><%= link_to c.name, c %></li>
      <% end %>
      <li class="active"><%= link_to 'New Case', new_case_path %></li>
    </ul>
  </div>
</div>