<div class="well">
  <h1><%= @case.name %></h1>

  <%= link_to 'Edit', edit_case_path(@case) %> | <%= link_to 'Back', cases_path %>
</div>

<style>
	.convo-box,
	input[name="new-message"]{
		background: grey;
		border-radius: 0.5em;
	}
	.convo-box{
		height: 200px;
		margin: 3em auto;
		width:33%;
	}
	.input-box{
		margin: 0 auto;
		width:33%;
	}
	input{
		height: 3em;
		width:100%;
		margin: 0.25em 0;
	}
	.convo-box,
	input{
		box-shadow: 10px 10px 25px #888888;
	}
	.chat-area{
		width: 100%;
		height: 20%;
		word-wrap: break-word;
	}
	.message-sender{
		font-weight: bold;
	}
	.message-date{
		float:right;
		font-size: 90%;
		margin-right: 0.5em;
		font-style: italic;
	}
	.message-text{
		display:block;
		margin-left: 3%;
	}
</style>


<div class="well">
	<div pub-key="pub-8170e21c-7fd2-4c90-aee1-88261c5c5816" sub-key="sub-894d0468-e416-11e1-a5bd-178bb4b7ab64" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> </script>
	<script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>

	<div class="blurbs-box">
		<div class = "input-box">
			<input name="new-message" id="message-field" placeholder="Type new blurb..."/>
		</div>
		<div class = "convo-box">
		</div>
  	</div>
</div>
<script> (function(){
	// Channel to be provided by CaseBlurb db. Probably use caseId.
	var channel = "channel";
	// Provide username too for posting to convo box:
	var user = "[Rails Username]";
	var msgBox = $('#message-field');
 
    // LISTEN FOR MESSAGES
    PUBNUB.subscribe({
        channel    : channel,      // CONNECT TO THIS CHANNEL.
 
        restore    : false,              // STAY CONNECTED, EVEN WHEN BROWSER IS CLOSED
                                         // OR WHEN PAGE CHANGES.
 
        callback   : function(message) { // RECEIVED A MESSAGE.
        	// TODO: Add date/time stamp from rails
            $('.convo-box').prepend('\
        		<div class = "message">\
        			<span class ="message-sender">'+message.sender+'</span>\
        			<span class = "message-date">'+message.date+'</span>\
        			<span class = "message-text">'+message.text+'</span>\
        		</div>')
        },
 
        disconnect : function() {        // LOST CONNECTION.
            $('.convo-box').append(
                "Error: Connection Lost." +
                "Will auto-reconnect when Online."
            )
        },
 
        reconnect  : function() {        // CONNECTION RESTORED.
            $('.convo-box').append("Connection restored!")
        },
 
        connect    : function() {        // CONNECTION ESTABLISHED.		            
            PUBNUB.publish({             // SEND A MESSAGE.
                channel : channel,
                message : {sender: user, text:" is now viewing this blurb.", date: '[date]'}
            })
        }
    });
    $('#message-field').keyup(function(e) {
			(e.which) === 13 && PUBNUB.publish({
			channel : channel, message : {sender: user+': ', text: msgBox.val(), date:'[date]'}, x: msgBox.val('')}) && (function(){
				// Do rails message transmission to CaseBlurb db here
				console.log("rails magic starts here");
			})()
		});
})();
</script>